@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* Nova Forms Style */
:root {
	--spaceblue: #00202e;
	--oceanblue: #003f5c;
	--rainblue: #2c4875;
	--royalpurple: #8a508f;
	--velvetpurple: #bc5090;
	--salmonpink: #ff6361;
	--peachorange: #ff8531;
	--honeyyelloy: #ffa600;
	--starlightyellow: #ffd380;
	--forestgreen: #007872;
	--grassgreen: #35a77a;

	--info: var(--starlightyellow);
	--error: var(--salmonpink);
	--warning: var(--peachorange);
	--success: var(--grassgreen);

	--text: var(--spaceblue);

	--field-outline-focus: 1px solid var(--spaceblue);

	--button-background: var(--spaceblue);
	--button-text-color: white;

	--text-font: "Urbanist", sans-serif;
	--text-font-size: 18px;

	--header-text-color: var(--starlightyellow);
	--header-background: var(--spaceblue);
	--header-border: none;
}