
/* Nova Forms Style */
:root {
	--spaceblue: #00202e;
	--oceanblue: #003f5c;
	--rainblue: #2c4875;
	--royalpurple: #8a508f;
	--velvetpurple: #bc5090;
	--salmonpink: #ff6361;
	--peachorange: #ff8531;
	--honeyyelloy: #ffa600;
	--starlightyellow: #ffd380;
	--forestgreen: #007872;
	--grassgreen: #35a77a;
	
	--primary: var(--starlightyellow);
	--secondary: var(--spaceblue);
	--danger: var(--salmonpink);
	--warning: var(--peachorange);
	--success: var(--grassgreen);
	--info: var(--rainblue);
	--text: white;
	--disabled: lightgray;
	--background: var(--spaceblue);
	--header-background: var(--background);
    --preview-background: var(--background);

	--text-font: "Urbanist", sans-serif;
	--text-font-size: 18px;

	--field-background: var(--rainblue);
	--field-background-ok: var(--rainblue);
	--field-background-error: var(--salmonpink);
	--field-border: none;
	--field-border-ok: none;
	--field-border-error: none;
	--field-outline-focus: 1px solid var(--honeyyelloy);
	--field-outline-hover: 1px solid var(--primary);
}