/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* ====================
 * GENERAL
 * ====================
 *
 * General styles that apply to the whole document.
 */

/* --------------------
 * Variables
 * --------------------
 *
 * To get a nice style, it should suffice to simply change the following variables.
 */

/* Default values */
:root {
	/* Color Pallette */
	--primary: white;
	--secondary: black;
	--danger: red;
	--warning: orange;
	--success: green;
	--info: blue;
	--text: black;
	--disabled: gray;
	--background: white;
	--wrapper-background: lightgray;

	/* General Settings */
	--general-padding: 16px;
	--general-line-height: 1.5;

	/* General Component Settings */
	--component-vertical-margin: 1em;
	--component-transition-duration: 0.2s;

	/* Grid Settings */
	--column-gap: calc(var(--general-padding) * 2);

	/* Fonts */
	--text-font: sans-serif;
	--heading-font: var(--text-font);
	--input-font: var(--text-font);
	--text-font-size: 16px;
	--input-font-size: var(--text-font-size);

	/* Page Settings */
	--page-margin: 2cm;
	--page-layout: A4;
	--page-width: 210mm;
	--page-height: 297mm;
	
	/* Field Settings */
	--field-padding: 8px;
	--field-border-radius: var(--field-padding);
	--field-label-margin-bottom: 2px;

	--field-background: none;
	--field-background-ok: var(--field-background);
	--field-background-error: var(--field-background);
	--field-background-hover: var(--field-background);
	--field-background-focus: var(--field-background);
	--field-background-disabled: var(--disabled);
	--field-border: 1px solid var(--text);
	--field-border-ok: 1px solid var(--success);
	--field-border-error: 1px solid var(--danger);
	--field-border-disabled: 1px solid var(--disabled);
	--field-outline-hover: none;
	--field-outline-focus: 1px solid var(--primary);
	--field-shadow-hover: none;
	--field-shadow-focus: none;

	/* Button Settings */
	--button-group-gap: calc(var(--general-padding) / 2);
	--icon-width: 24px;
	--icon-height: 24px;
	--button-padding: var(--field-padding);
	--button-border-radius: var(--field-border-radius);
	--button-background: var(--field-background);
	--button-background-hover: var(--field-background-hover);
	--button-background-focus: var(--field-background-focus);
	--button-background-disabled: var(--field-background-disabled);
	--button-border: var(--field-border);
	--button-border-disabled: var(--field-border-disabled);
	--button-outline-hover: var(--field-outline-hover);
	--button-outline-focus: var(--field-outline-focus);
	--button-shadow-hover: var(--field-shadow-hover);
	--button-shadow-focus: var(--field-shadow-focus);
}

/* Ajila Style */
/*
:root {
	--base: #454545;
	--gray: #7e7e7e;
	--lightgray: #e7e7e7;
	--light: #fff;
	--dark: #000;

	--primary: #dc9e26;
	--secondary: #062544;
	--danger: #c2185b;
	--warning: #dc9e26;
	--success: #3dcc79;
	--info: var(--secondary);
	--text: var(--dark);
	--disabled: var(--lightgray);
	--background: var(--light);
	--wrapper-background: var(--lightgray);

	--text-font: "Montserrat", sans-serif;
}
*/

/* Nova Forms */
:root {
	--spaceblue: #00202e;
	--oceanblue: #003f5c;
	--rainblue: #2c4875;
	--royalpurple: #8a508f;
	--velvetpurple: #bc5090;
	--salmonpink: #ff6361;
	--peachorange: #ff8531;
	--honeyyelloy: #ffa600;
	--starlightyellow: #ffd380;
	--forestgreen: #007872;
	--grassgreen: #35a77a;
	
	--primary: var(--starlightyellow);
	--secondary: var(--spaceblue);
	--danger: var(--salmonpink);
	--warning: var(--peachorange);
	--success: var(--grassgreen);
	--info: var(--rainblue);
	--text: white;
	--disabled: lightgray;
	--background: var(--spaceblue);
	--wrapper-background: var(--spaceblue);

	--text-font: "Urbanist", sans-serif;
	--text-font-size: 18px;

	--field-background: var(--rainblue);
	--field-background-ok: var(--rainblue);
	--field-background-error: var(--salmonpink);
	--field-border: none;
	--field-border-ok: none;
	--field-border-error: none;
	--field-outline-focus: 1px solid var(--honeyyelloy);
	--field-outline-hover: 1px solid var(--primary);
}

body {
	font-family: var(--text-font);
	background: var(--secondary);
	color: var(--text);
	margin: 0;
	font-size: var(--text-font-size);
}

.content {
	margin: auto;
	max-width: var(--page-width);
	padding: var(--general-padding);
}

h1, h2, h3, h4, h5, h6, #title {
	font-family: var(--heading-font);
}

p {
	line-height: var(--general-line-height);
}

/* Google icons */
.material-symbols-rounded {
	display: inline-block;
	width: var(--icon-width);
	height: var(--icon-height);
}

/* Accessible screen reader hiding for inputs */
.sr-hidden {
	position: absolute !important;
	width: 0 !important;
	height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	overflow: hidden !important;
}

.print-only {
	display: none !important;
}


/* ====================
 * OVERLAY
 * ====================
 *
 * Everything that is not part of the printed form is considered an overlay.
 * This includes the header, footer, toolbar, the preview, overlay buttons etc.
 */

/* --------------------
 * Nova Forms Wrapper
 * --------------------
 * 
 * The main container for the whole application.
 */
main {
	background: var(--wrapper-background);
	padding-top: var(--general-padding);
	padding-bottom: var(--general-padding);
}

header, footer {
	background: var(--secondary);
	color: var(--primary);
}

footer > .content {
	text-align: center;
}

header > .content {
	display: flex;
	justify-content: left;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 1000;
}

#logo {
	height: 48px;
	margin-right: var(--general-padding);
}
 
#title {
	font-weight: bold;
	font-size: 24px;
}


/* --------------------
 * Overlay Buttons
 * --------------------
 * 
 * Buttons that are not rendered in the printed form.
 */
.button-group {
	display: inline-flex;
	gap: var(--button-group-gap);
	margin-top: var(--component-vertical-margin);
	margin-bottom: var(--component-vertical-margin);
}

input[type=submit],
input[type=button],
button,
.button {
	border: none;
	background: var(--button-background);
	padding: var(--button-padding);
	color: var(--text);
	border-radius: var(--button-border-radius);
	cursor: pointer;
	display: inline-block;
	box-sizing: border-box;
	transition: all var(--component-transition-duration);
	font-size: var(--text-font-size);
}

input[type=submit]:hover,
input[type=button]:hover,
button:hover,
.button:hover,
.button:has(input:hover),
.button:has(select:hover) {
	outline: var(--button-outline-hover);
	box-shadow: var(--button-shadow-hover);
	background: var(--button-background-hover);
}

input[type=submit]:focus,
input[type=button]:focus,
button:focus,
.button:focus,
.button:has(input:focus),
.button:has(select:focus) {
	outline: var(--field-outline-focus);
	box-shadow: var(--field-shadow-focus);
	background: var(--button-background-focus);
}

input[type=submit]:disabled,
input[type=button]:disabled,
button:disabled,
.button:disabled,
.button:has(input:disabled),
.button:has(select:disabled) {
	cursor: not-allowed;
	background: var(--button-background-disabled);
	border: var(--button-border-disabled);
}

.icon-button, .icon-select {
	display: inline-flex;
	align-items: center;
	height: var(--icon-height);
	box-sizing: content-box;
}

.icon-button {
	justify-content: center;
	width: var(--icon-width);
}

.icon-select select {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	font-weight: bold;
	outline: none;
	color: var(--text);
	background: var(--field-background);
	cursor: pointer;
}

.icon-select select:focus {
	position: static;
	width: auto;
	height: auto;
	padding-left: 8px;
}

.stepper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.stepper .stepper-spacer {
	flex-grow: 1;
	flex-shrink: 1;
}

/* -------------------
 * Toolbar
 * -------------------
 * 
 * The Nova Forms Toolbar
 */
#toolbar {
	position: sticky;
	bottom: 0;
	display: block;
	text-align: right;
	box-sizing: border-box;
	background: var(--background);
}

/* -------------------
 * Modals
 * -------------------
 */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-items: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(8px);
}

.modal dialog,
.dialog dialog {
	border: none;
	margin: auto;
	position: static;
	padding: 0;
	width: 100%;
	background: var(--background);
	color: var(--text);
	border-radius: var(--field-border-radius);
	padding: var(--general-padding);
	box-sizing: border-box;
}

.modal dialog {
	max-width: 256px;
}

.modal .modal-header,
.dialog .dialog-header {
	font-weight: bold;
	background: none;
	border-top-left-radius: var(--field-border-radius);
	border-top-right-radius: var(--field-border-radius);
	margin-bottom: var(--component-vertical-margin);
}

.modal .modal-main,
.dialog .dialog-main {
}

.modal .modal-footer,
.dialog .dialog-footer {
	border-bottom-left-radius: var(--field-border-radius);
	border-bottom-right-radius: var(--field-border-radius);
	margin-top: var(--component-vertical-margin);
}

.dialog {
	margin-top: var(--component-vertical-margin);
	margin-bottom: var(--component-vertical-margin);
}

.modal dialog.info,
.dialog dialog.info {
	background: var(--info);
}

.modal dialog.success,
.dialog dialog.success {
	background: var(--success);
}

.modal dialog.warn,
.dialog dialog.warn {
	background: var(--warning);
}

.modal dialog.error,
.dialog dialog.error {
	background: var(--danger);
}

/* ====================
 * FORM
 * ====================
 *
 * Everything that is part of the form
 * and will be rendered in the printed document.
 */

/* -------------------
 * Fieldsets
 * -------------------
 */
fieldset {
	border: none;
	margin-top: var(--component-vertical-margin);
	margin-bottom: var(--component-vertical-margin);
	padding: 0;
	page-break-inside: avoid;
}

/* -------------------
 * Input Fields
 * -------------------
 */
.field {
	margin-top: var(--component-vertical-margin);
	margin-bottom: var(--component-vertical-margin);
}

.field label {
	display: inline-block;
	margin-bottom: var(--field-label-margin-bottom);
}

.field input,
.field select,
.field textarea {
	padding: var(--field-padding);
	border-radius: var(--field-border-radius);
	width: 100%;
	box-sizing: border-box;
	border: var(--field-border);
	background: var(--field-background);
	font-family: var(--input-font);
	color: var(--text);
	font-size: var(--input-font-size);
	transition: all var(--component-transition-duration);
}

.field input:hover,
.field select:hover,
.field textarea:hover {
	box-shadow: var(--field-shadow-hover);
	outline: var(--field-outline-hover);
	background: var(--field-background-hover);
}

.field input:focus,
.field select:focus,
.field textarea:focus {
	box-shadow: var(--field-shadow-focus);
	outline: var(--field-outline-focus);
	background: var(--field-background-focus);
}

.field.error input,
.field.error select,
.field.error textarea {
	border: var(--field-border-error);
	background: var(--field-background-error);
}

.field.ok input,
.field.ok select,
.field.ok textarea {
	border: var(--field-border-ok);
	background: var(--field-background-ok);
}

.field input:disabled,
.field select:disabled,
.field textarea:disabled {
	border: var(--field-border-disabled);
	background: var(--field-background-disabled);
	cursor: not-allowed;
}

.field .error-message {
	color: var(--danger);
}

/* -------------------
 * Checkboxes and Radio
 * -------------------
 */
.field.checkbox input[type=checkbox],
.field.radio input[type=radio] {
	width: auto;
	margin-right: 8px;

	/* Custom */
	position: absolute !important;
	width: 0 !important;
	height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	overflow: hidden !important;
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
	z-index: -10000 !important;		
}

.field.checkbox input[type=checkbox]:focus,
.field.radio input[type=radio]:focus {
	outline: none;
}

.field.checkbox label,
.field.radio label {
	display: inline-flex;
	align-items: center;
	width: 100%;
	margin: 0;
}

/* Custom */
.field.checkbox .custom-checkbox,
.field.radio .custom-radio {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: var(--field-background);
	position: relative;
	cursor: pointer;
	transition: all var(--component-transition-duration);
	margin-right: 8px;
}

.field.radio input:hover ~ .custom-radio,
.field.checkbox input:hover ~ .custom-checkbox {
	outline: var(--field-outline-hover);
	box-shadow: var(--field-shadow-hover);
	background: var(--field-background-hover);
}

.field.radio input:focus ~ .custom-radio,
.field.checkbox input:focus ~ .custom-checkbox {
	outline: var(--field-outline-focus);
	box-shadow: var(--field-shadow-focus);
	background: var(--field-background-focus);
}

.field.checkbox.ok input ~ .custom-checkbox,
.field.radio.ok input ~ .custom-radio {
	background: var(--field-background-ok);
	border: var(--field-border-ok)
}

.field.checkbox.error input ~ .custom-checkbox,
.field.radio.error input ~ .custom-radio {
	background: var(--field-background-error);
	border: var(--field-border-error);
}

.field.radio input:disabled ~ .custom-radio,
.field.checkbox input:disabled ~ .custom-checkbox {
	border: var(--field-border-disabled);
	background: var(--field-background-disabled);
}

.field.radio input ~ .custom-radio::after,
.field.checkbox input ~ .custom-checkbox::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	background: transparent;
	transition: all var(--component-transition-duration);
}

.field.radio input:checked ~ .custom-radio::after,
.field.checkbox input:checked ~ .custom-checkbox::after {
	content: "";
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	background: var(--text);
}

.field.radio .custom-radio,
.field.radio .custom-radio::after {
	border-radius: 50%;
}

.field.checkbox .custom-checkbox,
.field.checkbox .custom-checkbox::after {
	border-radius: 20%;
}

/* -------------------
 * Grid
 * -------------------
 */
.cols {
	display: grid;
	column-gap: var(--column-gap);
	row-gap: var(--component-vertical-margin);
	margin-top: var(--component-vertical-margin);
	margin-bottom: var(--component-vertical-margin);
}

.cols .field {
	margin-top: 0;
	margin-bottom: 0;
}


/* --------------------
  * Preview
  * -------------------
  */
form, #preview {
	box-sizing: border-box;
	width: 100%;
	border: none;
	display: block;
}

#preview .pagedjs_page {
	background: white;
	margin-top: var(--general-padding);
	margin-bottom: var(--general-padding);
}

#preview .pagedjs_page:first-of-type {
	margin-top: 0;
}

#preview .pagedjs_page:last-of-type {
	margin-bottom: 0;
}

form {
	background: var(--background);
}

.hidden {
	display: none !important;
}

/* ====================
 * Mobile Layout
 * ====================
 *
 * Needs to be important, otherwise it won't apply when switching from preview back to edit mode.
 */
 @media only screen and (max-width: 210mm) {
	main {
		padding-top: 0 ;
		padding-bottom: 0;
	}

	form .cols > * {
		grid-column: 1 / -1 !important;
	}

	#toolbar {
		right: 0;
	}

	.stepper .stepper-page-number {
		display: none;
	}
}