@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--base: #454545;
	--primary: #dc9e26;
	--secondary: #062544;
	--danger: #c2185b;
	--danger-light: #ecb9cd;
	--warning: #dc9e26;
	--warning-light: #e4e1bd;
	--success: #3dcc79;
	--success-light: #c4efd6;
	--gray: #7e7e7e;
	--lightgray: #e7e7e7;
	--light: #fff;
	--dark: #000;

	--margin: 2cm;
}

/* ====================
 * GENERAL
 * ====================
 *
 * General styles that apply to the whole document.
 */

body {
	font-family: "Montserrat", sans-serif;
	background: var(--secondary);
	margin: 0;
}

/* Google icons */
.material-symbols-rounded {
	display: inline-block;
}

/* Accessible screen reader hiding for inputs */
.sr-hidden {
	position: absolute !important;
	width: 0 !important;
	height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	overflow: hidden !important;
}

/* --------------------
 * Nova Forms Wrapper
 * --------------------
 */

main {
	background: var(--lightgray);
	padding-top: 2cm;
	padding-bottom: 2cm;
}

@media screen and (max-width: 210mm) {
	main {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
}

header, footer {
	background: var(--secondary);
	color: var(--primary);
}

footer {
	padding: 16px;
	text-align: center;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
	position: sticky;
	top: 0;
	z-index: 1000;
}

#logo {
	height: 48px;
	margin-right: 16px;
}

#name {
	text-align: right;
}

#title {
	font-weight: bold;
	font-size: 24px;
}

/* ====================
 * OVERLAY
 * ====================
 *
 * Everything that is not part of the printed form is considered an overlay.
 * This includes the header, footer, toolbar, the preview, overlay buttons etc.
 */

 /* -------------------
  * Overlay Buttons
  * -------------------
  */
input[type=submit],
input[type=button],
button,
.button {
	border: none;
	background-color: var(--primary);
	padding: 8px;
	color: var(--light);
	margin: 4px;
	border-radius: 16px;
	cursor: pointer;
	box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
	font-size: 12px;
	display: inline-block;
	box-sizing: border-box;
}

input[type=submit]:hover,
input[type=button]:hover,
button:hover,
.button:hover {
	box-shadow: 0 0 0;
}

input[type=submit]:disabled,
input[type=button]:disabled,
button:disabled,
.button:disabled {
	background-color: var(--lightgray);
	cursor: not-allowed;
}

.icon-button, .icon-select {
	height: 40px;
	border-radius: 20px;
	display: inline-flex;
	align-items: center;
}

.icon-button {
	width: 40px;
	justify-content: center;
}

.icon-select select {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	color: var(--light);
	font-weight: bold;
}

.icon-select select:focus {
	position: static;
	width: auto;
	height: auto;
	padding-left: 8px;
}

.stepper {
	display: flex;
	align-items: center;
}

 /* -------------------
  * Toolbar
  * -------------------
  */
#toolbar {
	position: sticky;
	bottom: 0;
	left: calc((100% - 210mm) / 2);
	max-width: 210mm;
	display: block;
	text-align: right;
	box-sizing: border-box;
	padding: 16px;
	height: 80px;
}

@media screen and (max-width: 210mm) {
	#toolbar {
		margin-top: -80px;
	}
}


 /* -------------------
  * Modals
  * -------------------
  */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-items: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(8px);
}

.modal dialog {
	border: none;
	margin: auto;
	position: static;
	padding: 0;
	width: 100%;
	max-width: 256px;
}

.modal .modal-header {
	font-weight: bold;
	color: var(--dark);
	background: none;
	padding: 16px;
}

.modal .modal-main {
	background: var(--light);
	padding: 16px;
}

.modal .modal-footer {
	background: var(--light);
	padding: 16px;
}

.modal dialog.info {
	background: var(--primary);
}

.modal dialog.success {
	background: var(--success);
}

.modal dialog.warn {
	background: var(--warning);
}

.modal dialog.error {
	background: var(--danger);
}

/* ====================
 * FORM
 * ====================
 */

 /* -------------------
  * Fieldset
  * -------------------
  */
fieldset {
	border: none;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0;
	page-break-inside: avoid;
}

legend {
	color: var(--dark);
	font-weight: bold;
}

 /* -------------------
  * Form Inputs
  * -------------------
  */

.field {
	margin-top: 1em;
	margin-bottom: 1em;
}

.field input {
	padding: 4px;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid var(--lightgray);
	border-radius: 4px;
	font-family: "Caveat", cursive;
	font-size: 20px;
}

.field.error input {
	border: 1px solid var(--danger);
	background-color: var(--danger-light);
}

.field.ok input {
	border: 1px solid var(--success);
	background-color: var(--success-light);
}

.field input[type=checkbox] {
	width: auto;
}

.field .error-message {
	color: var(--danger);
}


 /* -------------------
  * Layouts
  * -------------------
  */
.cols-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 32px;
}

@media screen and (max-width: 210mm) {
	.cols-2 {
		grid-template-columns: 1fr;
	}
}

/* --------------------
  * Form and Preview
  * -------------------
  */
form, #preview {
	box-sizing: border-box;
	width: 100%;
	max-width: 210mm;
	min-height: 297mm;
	margin: auto;
	border: none;
	display: block;
}

#preview .pagedjs_page {
	background: white;
	margin-top: 2cm;
	margin-bottom: 2cm;
}

#preview .pagedjs_page:first-of-type {
	margin-top: 0;
}

#preview .pagedjs_page:last-of-type {
	margin-bottom: 0;
}

form {
	background: var(--light);
	padding: var(--margin);
}

.hidden {
	display: none !important;
}

.only-print {
	display: none !important;
}

/* --------------------
  * Paged.js Rendering
  * -------------------
  */
@page {
	size: A4;
	background: white;
	margin: var(--margin);

	@bottom-left {
		content: "Nova Forms";
	}

	@bottom-right {
		content: counter(page) "/" counter(pages);
	}
}

@media print {
	#print input[type=submit],
	#print input[type=button],
	#print button,
	#print .button {
		display: none !important;
	}

	#print .field input {
		padding: 0;
		margin: 0;
		font-size: 20px;
		color: var(--dark);
		border: none !important;
		background: none !important;
	}

	#print input::-webkit-outer-spin-button,
	#print input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	
	#print input[type=number] {
		-moz-appearance: textfield;
		appearance: textfield;
	}

	#print .error-message {
		display: none;
	}

	#print .no-print {
		display: none !important;
	}

	#print .only-print {
		display: block !important;
	}

	#print .page.hidden {
		display: block !important;
	}
}
