/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* ====================
 * GENERAL
 * ====================
 *
 * General styles that apply to the whole document.
 */

/* --------------------
 * Variables
 * --------------------
 *
 * To get a nice style, it should suffice to simply change the following variables.
 */

/* Default values */
:root {
	/* Color Pallette */
	--primary: white;
	--secondary: black;
	--danger: red;
	--warning: orange;
	--success: green;
	--info: blue;
	--text: black;
	--disabled: gray;
	--background: white;
	--wrapper-background: lightgray;

	/* General Settings */
	--general-padding: 16px;
	--general-line-height: 1.5;

	/* Fonts */
	--text-font: sans-serif;
	--heading-font: var(--text-font);
	--input-font: var(--text-font);
	--text-font-size: 16px;
	--input-font-size: var(--text-font-size);

	/* Page Settings */
	--page-margin: 2cm;
	--page-layout: A4;
	--page-width: 210mm;
	--page-height: 297mm;
	
	/* Field Settings */
	--field-padding: 8px;
	--field-border-radius: var(--field-padding);

	--field-background: none;
	--field-background-ok: none;
	--field-background-error: none;
	--field-border: 1px solid var(--text);
	--field-border-ok: 1px solid var(--success);
	--field-border-error: 1px solid var(--danger);
}

/* Ajila Style */
/*
:root {
	--base: #454545;
	--gray: #7e7e7e;
	--lightgray: #e7e7e7;
	--light: #fff;
	--dark: #000;

	--primary: #dc9e26;
	--secondary: #062544;
	--danger: #c2185b;
	--warning: #dc9e26;
	--success: #3dcc79;
	--info: var(--secondary);
	--text: var(--dark);
	--disabled: var(--lightgray);
	--background: var(--light);
	--wrapper-background: var(--lightgray);

	--text-font: "Montserrat", sans-serif;
}
*/

/* Nova Forms */
:root {
	--spaceblue: #00202e;
	--oceanblue: #003f5c;
	--rainblue: #2c4875;
	--royalpurple: #8a508f;
	--velvetpurple: #bc5090;
	--salmonpink: #ff6361;
	--peachorange: #ff8531;
	--honeyyelloy: #ffa600;
	--starlightyellow: #ffd380;
	--forestgreen: #007872;
	--grassgreen: #35a77a;
	
	--primary: var(--starlightyellow);
	--secondary: var(--spaceblue);
	--danger: var(--salmonpink);
	--warning: var(--peachorange);
	--success: var(--grassgreen);
	--info: var(--rainblue);
	--text: white;
	--disabled: lightgray;
	--background: var(--spaceblue);
	--wrapper-background: var(--spaceblue);

	--text-font: "Urbanist", sans-serif;
	--text-font-size: 18px;

	--field-background: var(--rainblue);
	--field-background-ok: var(--rainblue);
	--field-background-error: var(--salmonpink);
	--field-border: none;
	--field-border-ok: none;
	--field-border-error: none;
}

body {
	font-family: var(--text-font);
	background: var(--secondary);
	color: var(--text);
	margin: 0;
	font-size: var(--text-font-size);
}

.content {
	margin: auto;
	max-width: var(--page-width);
	padding: var(--general-padding);
}

h1, h2, h3, h4, h5, h6, #title {
	font-family: var(--heading-font);
}

p {
	line-height: var(--general-line-height);
}

/* Google icons */
.material-symbols-rounded {
	display: inline-block;
}

/* Accessible screen reader hiding for inputs */
.sr-hidden {
	position: absolute !important;
	width: 0 !important;
	height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	overflow: hidden !important;
}

/* ====================
 * OVERLAY
 * ====================
 *
 * Everything that is not part of the printed form is considered an overlay.
 * This includes the header, footer, toolbar, the preview, overlay buttons etc.
 */

/* --------------------
 * Nova Forms Wrapper
 * --------------------
 * 
 * The main container for the whole application.
 */
main {
	background: var(--wrapper-background);
	padding-top: var(--general-padding);
	padding-bottom: var(--general-padding);
}

header, footer {
	background: var(--secondary);
	color: var(--primary);
}

footer > .content {
	text-align: center;
}

header > .content {
	display: flex;
	justify-content: left;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 1000;
}

#logo {
	height: 48px;
	margin-right: var(--general-padding);
}
 
#title {
	font-weight: bold;
	font-size: 24px;
}


/* --------------------
 * Overlay Buttons
 * --------------------
 * 
 * Buttons that are not rendered in the printed form.
 */
input[type=submit],
input[type=button],
button,
.button {
	border: none;
	background: var(--primary);
	padding: var(--field-padding);
	color: var(--secondary);
	margin: 4px;
	border-radius: var(--field-border-radius);
	cursor: pointer;
	display: inline-block;
	box-sizing: border-box;
}

input[type=submit]:hover,
input[type=button]:hover,
button:hover,
.button:hover {
}

input[type=submit]:disabled,
input[type=button]:disabled,
button:disabled,
.button:disabled {
	cursor: not-allowed;
	background: var(--disabled);
}

.icon-button, .icon-select {
	height: 40px;
	border-radius: 20px;
	display: inline-flex;
	align-items: center;
}

.icon-button {
	width: 40px;
	justify-content: center;
}

.icon-select select {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	color: var(--secondary);
	font-weight: bold;
}

.icon-select select:focus {
	position: static;
	width: auto;
	height: auto;
	padding-left: 8px;
}

.stepper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.stepper .stepper-spacer {
	flex-grow: 1;
	flex-shrink: 1;
}

/* -------------------
 * Toolbar
 * -------------------
 * 
 * The Nova Forms Toolbar
 */
#toolbar {
	position: sticky;
	bottom: 0;
	display: block;
	text-align: right;
	box-sizing: border-box;
	padding-top: 16px;
	padding-bottom: 16px;
	background: var(--background);
}

/* -------------------
 * Modals
 * -------------------
 */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-items: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(8px);
}

.modal dialog {
	border: none;
	margin: auto;
	position: static;
	padding: 0;
	width: 100%;
	max-width: 256px;
	background: var(--background);
	color: var(--text);
	border-radius: var(--field-border-radius);
}

.modal .modal-header {
	font-weight: bold;
	background: none;
	padding: var(--general-padding);
	border-top-left-radius: var(--field-border-radius);
	border-top-right-radius: var(--field-border-radius);
}

.modal .modal-main {
	padding: var(--general-padding);
}

.modal .modal-footer {
	padding: var(--general-padding);
	border-bottom-left-radius: var(--field-border-radius);
	border-bottom-right-radius: var(--field-border-radius);
}

.modal dialog.info {
	background: var(--info);
}

.modal dialog.success {
	background: var(--success);
}

.modal dialog.warn {
	background: var(--warning);
}

.modal dialog.error {
	background: var(--danger);
}

/* ====================
 * FORM
 * ====================
 *
 * Everything that is part of the form
 * and will be rendered in the printed document.
 */

/* -------------------
 * Fieldsets
 * -------------------
 */
fieldset {
	border: none;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0;
	page-break-inside: avoid;
}

/* -------------------
 * Input Fields
 * -------------------
 */
.field {
	margin-top: 1em;
	margin-bottom: 1em;
}

.field input,
.field select,
.field textarea {
	padding: var(--field-padding);
	border-radius: var(--field-border-radius);
	width: 100%;
	box-sizing: border-box;
	border: var(--field-border);
	background: var(--field-background);
	font-family: var(--input-font);
	color: var(--text);
	font-size: var(--input-font-size);
}

.field.error input,
.field.error select,
.field.error textarea {
	border: var(--field-border-error);
	background: var(--field-background-error);
}

.field.ok input,
.field.ok select,
.field.ok textarea {
	border: var(--field-border-ok);
	background: var(--field-background-ok);
}

.field .error-message {
	color: var(--danger);
}

/* -------------------
 * Checkboxes and Radio
 * -------------------
 */
.field.checkbox input[type=checkbox],
.field.radio input[type=radio] {
	width: auto;
	margin-right: 8px;

	/* Custom */
	position: absolute !important;
	width: 0 !important;
	height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	overflow: hidden !important;
}

.field.checkbox label,
.field.radio label {
	display: inline-flex;
	align-items: center;
	width: 100%;
}

/* Custom */
.field.checkbox .custom-checkbox,
.field.radio .custom-radio {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	background: var(--field-background);
	position: relative;
	cursor: pointer;
}

.field.radio .custom-radio {
	border-radius: 50%;
}

.field.radio input:checked ~ .custom-radio::after {
	content: "";
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	background: var(--text);
	border-radius: 50%;
}

.field.checkbox .custom-checkbox {
	border-radius: 2px;
}

.field.checkbox input:checked ~ .custom-checkbox::after {
	content: "";
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	background: var(--text);
	border-radius: 1px;
}




/* -------------------
 * Layouts
 * -------------------
 */
.repeatable {
	margin-top: 1em;
	margin-bottom: 1em;
}

/* -------------------
 * Layouts
 * -------------------
 */
.cols-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: calc(var(--general-padding) * 2);
}

/* --------------------
  * Preview
  * -------------------
  */
form, #preview {
	box-sizing: border-box;
	width: 100%;
	border: none;
	display: block;
}

#preview .pagedjs_page {
	background: white;
	margin-top: var(--general-padding);
	margin-bottom: var(--general-padding);
}

#preview .pagedjs_page:first-of-type {
	margin-top: 0;
}

#preview .pagedjs_page:last-of-type {
	margin-bottom: 0;
}

form {
	background: var(--background);
}

.hidden {
	display: none !important;
}

.only-print {
	display: none !important;
}


/* ====================
 * Mobile Layout
 * ====================
 *
 * Needs to be important, otherwise it won't apply when switching from preview back to edit mode.
 */
 @media only screen and (max-width: 210mm) {
	main {
		padding-top: 0 ;
		padding-bottom: 0;
	}

	form .cols-2 {
		grid-template-columns: 1fr;
	}

	#toolbar {
		right: 0;
	}

	.stepper .stepper-page-number {
		display: none;
	}
}